/*
 * criando um css modular: vai afetar apenas o arquivo Header.jsx
 * sempre tenta usar CLASSES aqui, somente.
 */

.header {
   align-items: center;
   background-color: var(gray-800);
   display: flex;
   justify-content: center;
   height: 80px;
   padding: 1.25rem 0;
   gap: 0.5rem;
}

.header img {
   height: 2rem;
}