.wrapper {
    max-width: 70rem; /*soma do tamanho do box de feed + box da sidebar + espaço entre eles*/
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem; /*espaço entre as colunas de 32px*/
    align-items: flex-start; /*sempre fique alinhado com topo sem esticar os dois pra ficar do mesmo tamanho */
}

@media(max-width: 768px) {
    .html {
        font-size: 87.5%; /*14px, pois o elemento raiz tem root 16px*/
    }
    
    .wrapper {
        grid-template-columns: 1fr;
    }
}